{% extends 'base.html.twig' %}
{% block headerTitle %} 
    Bienvenue sur mes deck list
{% endblock %}

{% block body %}
    <link href="//cdn.jsdelivr.net/npm/mana-font@latest/css/mana.min.css" rel="stylesheet" type="text/css" />
    
    <main class="p-12 flex flex-col w-full gap-4">
          {% for deck in decks %}
            {{ component('deck', {
                id: deck.id, 
                name: deck.name, 
                author: deck.user.pseudo,
                colorString: deck.colors
                }) }} 
          {% endfor %}
    </main>
{% endblock %}