<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-background">
        <header class="bg-red-500 w-full sticky t-0 rounded-b-xl shadow-xl p-2">
            <div class="flex justify-between">
                <h1 class="text-xl">
                    {% block headerTitle %} {% endblock %}
                </h1>
                <h1 class="text-xl"><a href="/account">Compte</a></h1>
            </div>                                                  
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
